@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
  /* レスポンシブ
     PC:769px以上  / スマホ:768px以下*/
* {
  outline: solid 1px red;
  box-sizing: border-box;
}
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    width: 100%;
  }
/* スマホ向けのレイアウト設定 */
@media (max-width: 768px) {
  body {
  }
  h1 {
  }
}
/* ヘッダー */
.header_section {
  background-color: #0077CC;
  width: 100%;
}
.header_box {
  display: flex;
  align-items: center;
  padding: 10px;
}
.header_title{
  color: #fff;
  font-size: 30px;
  line-height: 1;
  padding: 18px 32px;
  margin-right: 15px;
}
.search_box {
  display: flex;
  padding-right: 15px;
}
.search_input_text {
  background-color: #fff;
  font-size: 18px;
  width: 230px;
  height: 41px;
  border-right: none;
  border-radius: 10px 0 0 10px;
  padding-left: 10px;
}
.search_image {
  width: 23px;
  height: 23px;
	mask-image: url(/httdocs/common/img/mushi.png);
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
  filter: brightness(0) saturate(100%) invert(100%) sepia(10%) saturate(7483%) hue-rotate(291deg) brightness(117%) contrast(86%);
}
.search_btn_area {
}
.search_btn {
  color: #fff;
  background-color: #003087;
  font-size: 23px;
  width: 125px;
  height: 41px;
  border-radius: 0 10px 10px 0;
  padding-left: 25px;
}
@media (max-width: 768px) {
  .search_input_text {
    width: 100%;
    max-width: 250px;
  }
  .search_btn {
    width: auto;
    padding: 0 20px;
  }
}
.search_section {
  display: flex;
}
@media (max-width: 768px) {
  .header_box {
    flex-direction: column;
    align-items: stretch;
  }
  .header_title {
    text-align: center;
    margin-right: 0;
  }
  .search_section {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}
.search_textBox {
  padding-right: 15px;
}
.search_text {
  color: #fff;
  border-radius: 10px;
  border: solid 1px #fff;
  padding: 10px;
}
.line_top, .line_center, .line_bottom {
  width: 5px;
  height: 3px;
  background-color: #0077CC;
}
#ham_box {
  background-color: #fff;
  border: solid 1px #fff;
  width: 5px;
  height: 5px;
}
/* サイドメニュー */
#main_container {
  display: flex;
  justify-content: center;
}
#main-section {
  padding: 0 20px;
}
#side_section {
  width: 400px;
  background-color: #E1F5FE;
}
.main-section {
  width: calc(100% - 400px);
}
@media (max-width: 768px) {
  #main_container {
    flex-direction: column;
  }
  #side_section {
    width: 100%;
  }
  .main-section {
    width: 100%;
  }
}
.side_box {
  width: 100%;
  max-width: 400px;
}
@media (max-width: 768px) {
  .side_box {
    display: none;
  }
}
.side_list, .side_list_category, .side_list_tag {
  list-style: none;
  padding: 0 0 0 20px;
}
.side_list {
  padding-top: 20px;
}
.side_list_space {
  padding-bottom: 40px;
}
.side_list_category, .side_list_tag {
  color: #000;
  font-size: 14px;
  width: 260px;
  display: flex;
  flex-wrap: wrap;
}
.side_icon {
  color: #64B5F6;
}
.side_list_round {
  color: #fff;
  background-color: #0077CC;
  border: solid 2px #B2EBF2;
  border-radius: 10px;
  box-shadow: 3px 3px 6px 3px #cfcfcf;
  padding: 8px 10px;
  margin: 5px;
}
.side_list_tag {
}
.side_list_line {
  text-decoration: underline;
  padding: 5px;
  margin: 5px;
}
/* カテゴリーアイコン */
/* カテゴリーアイコン */
.main-section {
  width: 100%;
  max-width: 1000px;
}
.category_box {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; */
  /* margin: 0 60px; */
}
  .category_imageBox {
    max-width: 100px;
    height: 123px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100px;
  }
@media (max-width: 768px) {
  .category_box {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
  .category_imageBox {
    width: 100%;
    justify-content: flex-start;
  }
}
.category_img {
  width: 64px;
  height: 64px;
}
.demo-btn, .prv-btn {
  color: #fff;
  background: #0077CC;
  border: solid 2px #000;
  border-radius: 5px;
  width: 300px;
  height: 45px;
  display: inline-block;
  visibility: visible;
  padding: 10px;
}
.demo-btn {
  color: #000;
  background: #FFFF01;
  width: 270px;
  height: 75px;
}
/* 販売コード一覧 */
.result-cardBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.result-box{
  width: 100%;
  max-width: 1000px;
}
.result-textBox{
  width: 100%;
  padding: 10px;
}
.result-card{
  border: solid 2px #64B5F6;
  border-radius: 5px;
  width: 380px;
  padding: 30px;
  margin: 20px;
}
@media (max-width: 768px) {
  .result-card {
    width: 100%;
    margin: 10px 0;
  }
}
.result-titleBox {
  background-color: #fff;
  width: 320px;
  border-radius: 5px 0 0 5px;
  border-left: 30px solid #64B5F6;
  padding: 20px;
  margin-bottom: 20px;
}
.result-demoCard {
  padding: 20px;
  margin-bottom: 20px;
}
.result-btnBox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
