@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

  /* レスポンシブ
     PC:769px以上  / スマホ:768px以下*/

* {
  outline: solid 1px red;
}
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    width: 100%;
    /* padding: 0; */
  }
/* スマホ向けのレイアウト設定 */
@media (max-width: 768px) {
  body {
  }
  h1 {
  }
}
.header_section {
  background-color: #0077CC;
}
.header_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}
.header_title{
  color: #fff;
  font-size: 30px;
  line-height: 1;
  padding: 18px 32px;
  margin-right: 15px;
}
.search_box {
  display: flex;
  padding-right: 15px;
}
.search_input_area {
}
.search_input_text {
  background-color: #fff;
  font-size: 18px;
  width: 230px;
  height: 41px;
  border-right: none;
  border-radius: 10px 0 0 10px;
  padding-left: 10px;
}
.search_image {
  width: 23px;
  height: 23px;
	mask-image: url(/httdocs/common/img/mushi.png);
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
  filter: brightness(0) saturate(100%) invert(100%) sepia(10%) saturate(7483%) hue-rotate(291deg) brightness(117%) contrast(86%);
}
.search_btn_area {
}
.search_btn {
  color: #fff;
  background-color: #003087;
  font-size: 23px;
  width: 125px;
  height: 41px;
  border-radius: 0 10px 10px 0;
  padding-left: 25px;
}
.search_section {
  display: flex;
}
@media (max-width: 990px) {
  .search_section {
    display: grid;
    grid-template-columns: 300px 300px;
    /* 稼働確認用 不要に削除してね*/
    border: #000 3px solid;
  }
}
@media (max-width: 768px) {
  .search_section {
    display: none;
  }
}
.search_textBox {
  padding-right: 15px;
}
.search_text {
  color: #fff;
  border-radius: 10px;
  border: solid 1px #fff;
  padding: 10px;
}
/* スマホ向けのレイアウト設定 */
@media (max-width: 768px) {
  .search_textBox {
    padding: 0 10px;
  }
  .search_text {
  }
}
.line_top, .line_center, .line_bottom {
  width: 5px;
  height: 3px;
  background-color: #0077CC;
}
#ham_box {
  background-color: #fff;
  border: solid 1px #fff;
  width: 5px;
  height: 5px;
}
#main_container {
  background-color: #003087;
  width: 100%;
  display: flex;
}
@media (max-width: 768px) {
  #main_container {
      /* display: none; */
  }
}
#side_section {
  width: 100%;
}
@media (max-width: 768px) {
  #side_section {
    background-color: #000;
  }
}
.side_box {
  background-color: #E1F5FE;
  width: 420px;
}
@media (max-width: 768px) {
  .side_box {
    display: none !important;
  }
}
.side_list, .side_list_category, .side_list_tag {
  list-style: none;
  padding: 0 0 0 20px;
}
.side_list {
  padding-top: 20px;
}
@media (max-width: 768px) {
  .side_list {
  }
}
.side_list_space {
  padding-bottom: 40px;
}
.side_list_category, .side_list_tag {
  color: #000;
  font-size: 14px;
  width: 260px;
  display: flex;
  flex-wrap: wrap;
}
.side_icon {
  color: #64B5F6;
}
.side_list_round {
  color: #fff;
  background-color: #0077CC;
  border: solid 2px #B2EBF2;
  border-radius: 10px;
  box-shadow: 3px 3px 6px 3px #cfcfcf;
  padding: 8px 10px;
  margin: 5px;
}
.side_list_tag {
}
.side_list_line {
  text-decoration: underline;
  padding: 5px;
  margin: 5px;
}
#wrapper {

}
